.btn {
  margin-inline: auto;
  padding: 11px 23px;
  border-radius: 22px;
  font-size: 1.25rem;
  line-height: 1.9rem;
  font-weight: 600;
  background-color: #fdfdfd;
  transition: background-color 0.2s,color 0.2s;
}
.btn:hover {
  color: #fff;
  background-color: var(--violet);
}
.btn:active {
  color: #fff;
  background-color: var(--violet-dark);
}
