.hero {
  margin-bottom: 156px;
  max-width: 680px;
  text-align: center;
}

.hero>h2 {
  margin-bottom: 12px;
  font-size: 1.25rem;
  line-height: 1.9rem;
  font-weight: 400;
  color: var(--white);
}

.hero>h1 {
  margin-bottom: 12px;
  font-size: 4.1rem;
  line-height: 4.7rem;
  font-weight: 600;
  color: var(--white);
  text-transform: uppercase;
}

.hero>p {
  max-width: 529px;
  margin-bottom: 34px;
  margin-inline: auto;
  font-size: 1rem;
  line-height: 1.2rem;
  font-weight: 500;
  color: var(--white);
}

.hero>.btn {
  font-size: 1.1rem;
    line-height: 1.8rem;
}
